* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header { 
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;  /* background color black and text color white for contrast*/ 
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a { transition:all 0.5s ease-out; 
    color: #ffffff;
    text-decoration: none;
}
a:hover{ transition:all 0.5s ease-out;
    text-decoration: underline;
    color: crimson;  /* Notes: Hover effect-links set to transition between text color and underline on hover.*/
p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Note: content is divided into two sections- Main content area on the left and sidebar images on the right.*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Note: aside has light gray background with black text and images*/ 
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #b4b5b6;
}
aside section {
    margin-bottom: 32px;
    color: #030303; /*Note: background-light gray, text-black to separate from main content & contrast*/
}
aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}
aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.main-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2e3031;
    color: #ffffff; /*background-dark gray, text-white for contrast*/ 
}

.main-content img {
    max-height: 200px;
}

.main-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #000000;
    color: #ffffff; /* background color-black, text color-white to mimic Header for contrast*/ 
}

footer h4 {
    font-size: 20px;
}
